<% if @actualizado_ok == true %>
 
  $("#<%= params[:window_id]%>").modal('hide');
  $("#form_buscar_pagos_remuneraciones_extras_id").val('<%=@pago_remuneracion_extra.id%>');
  $("#form_buscar_pagos_remuneraciones_extras_fecha").val('');
  $("#form_buscar_pagos_remuneraciones_extras_gasto").val('');
  $("#form_buscar_pagos_remuneraciones_extras_monto").val('');
  $("#form_buscar_pagos_remuneraciones_extras_observacion").val('');

  setTimeout( function(){ 

    swal("Remuneraciones Extras","Remuneraci칩n Extra modificado Exitosamente!", "success");

    }, 1000);

  $("#form-buscar-pagos-remuneraciones_extras").submit();

<% else %>
  
  $("<div class='col-sm-12' id='msg-guardar-pago-remuneracion-extra' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'>No se pudo registrar el Remuneraci칩n Extra</div>").insertBefore("#form-agregar-pago-remuneracion-extra");
  swal("Remuneraciones Extras", "Error al registrar el Remuneraci칩n Extra. Intente m치s tarde","error");

<% end %>