<h1>Acerca de</h1>
<h1>Ganatec -> Application for cow farm management.</h1>

</p>Ganatec is a SW app to management cow farmer. This application cover the entired process to management cow farmer, items, medicine,buy and sell of cow, transports,etc. This app use RFID tecnologies with a chip to identificate an animal, see an historial and suministrated medicine to the animal. This program will have a movil application make for React Native.</p>