<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-material' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-materiales");
   $("#form_buscar_materiales_id").val("<%=@material_elim.id%>")
   $("#form-buscar-materiales").submit();
    setTimeout(function(){

      $("#msg-eliminar-materiales").remove();
      swal("El material ha sido eliminado Exitosamente.");

    }, 1000);

<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-material' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'>El Material ya ha sido utilizado</div>").insertBefore("#table-materiales");
  setTimeout(function(){ 
    
    $("#msg-eliminar-material").remove(); 
    swal("No se pudo eliminar el Material. <%= @msg %> Intente más tarde.")

  }, 2000);


<% end %>
