<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-control-sanitario' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-ganado-detalle-control-sanitario");
   
    setTimeout(

      function(){ $("#msg-eliminar-control-sanitario").remove(); 
     
      $("#link-to-ganado-enfermo-detalle-<%=@control_sanitario_elim.ganado_enfermo_id %>").trigger('click');
      $("#link-to-ganado-enfermo-detalle-<%=@control_sanitario_elim.ganado_enfermo_id%>").trigger('click');
      
       swal("Control Sanitario","Control Sanitario eliminado exitosamente.", "success");

    }, 1000);
   
    
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-control-sanitario' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%=@msg %></div>").insertBefore("#table-ganado-detalle-control-sanitario");
  setTimeout(function(){ 
    
    $("#msg-eliminar-control-sanitario").remove();

    swal("Control Sanitario","No se pudo eliminar el Control Sanitario. Intente más tarde", "error")

     }, 2000);
    
<% end %>