<% if @empresa_transporte_ok.present? %>

   $("<div class='col-sm-12' id='msg-editar-proveedor-ganado' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Actualizado Exitosamente.</div>").insertBefore("#form-editar-proveedor-ganado");

  $("#form_buscar_proveedores_ganados_id").val('<%= @empresa_transporte.id %>');
  $("#form_buscar_proveedores_ganados_nombre").val('');
  $("#form_buscar_proveedores_ganados_ruc_ci").val('');
  $("#form_buscar_proveedores_ganados_telefono").val('');
  $("#form_buscar_proveedores_ganados_direccion").val('');

  setTimeout(function(){

    $("#<%= params[:window_id]%>").modal('hide');
    $("#form-buscar-empresas-transportes").submit();

    swal("El proveedor de ganado ha sido actualizada Exitosamente.");

  }, 2000);

<% else %>

  $("<div class='col-sm-12' id='msg-editar-proveedor-ganado' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg) %></div>").insertBefore("#form-editar-proveedor-ganado");

<% end %>
