<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h1> Hola!</h1>
    <p>
     <bold>Mensajería Ganatec.</bold>
     <br />
      
      <%=@datos_adjuntos%>
      
        
      <p>

        <p>**************************************************************</p>

      </p> <br />

    


      <b> </b><br />
    </p>

    <p>
      Ingrese al sistema para obtener mayor información <br /> 
    </p>
    
  </body>

</html>
