<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h3>Ganatec Informa.</h3>
    <p>
      <p>Módulo:<bold> <%= @modulo%> </bold> </p>
    
     <br />
      
      <p>Mensaje: <%=@subject%></p>

      <p><%=@datos_adjuntos%></p>
      
        
      <p>

        <p>**************************************************************</p>

      </p> <br />

    


      <b> </b><br />
    </p>

    <p>
      Ingrese al sistema para obtener mayor información <br /> 
    </p>
    
  </body>

</html>
