<%= link_to "<span class='glyphicon glyphicon-file'></span>".html_safe, "#", id: "link-to-adjuntar-archivo-#{esperma_id}", class: 'btn btn-primary btn-xs', title: 'Haga click para adjuntar una imagen del Reproductor.', onclick: "$('.modal').html('');return false;" %>

<%= modal_window( window_id: "modal-window-adjuntar-archivo", link_to_id: "#link-to-adjuntar-archivo-#{control_ganado_id}", url: espermas_adjuntar_archivo_path( window_id: "modal-window-adjuntar-archivo", esperma_id: esperma_id) )%>