<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-espermas' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-espermas");
   $("#form_buscar_esperma_id").val("<%=@esperma_elim.id%>")
   $("#form-buscar-esperma").submit();
    setTimeout(function(){ 
      
      $("#msg-eliminar-espermas").remove();
       swal("Muestras","Muestra eliminada exitosamente!.", "success");

    }, 1000);
      
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-espermas' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= @msg %></div>").insertBefore("#table-espermas");
  setTimeout(function(){ 

    $("#msg-eliminar-espermas").remove(); 

    swal("Muestras", "No se pudo eliminar la muestra. <%=@msg%>. Intente más tarde","error");
  
  }, 1000);
  
    
<% end %>
