<td colspan="12">

  <div style="background: #e6e6e6; margin:15px;padding:15px;border-radius:10px;">

    <div>

      <div class="col-sm-12" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">
        <h3 style="float:left;margin-top:5px;">Medicamento Detalle</h3>
      </div>

    </div>

    <div style="clear:both;"></div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-medicamento-detalle">
          
        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
          <%= link_to "<i class='glyphicon glyphicon-plus-sign'></i> agregar suministro".html_safe, "#", id: "link-to-agregar-medicamento-detalle", class: "btn btn-primary btn-xs", style: "float:right;" %>
          <%= modal_window( window_id: "modal-window-agregar-medicamento-detalle", link_to_id: "#link-to-agregar-medicamento-detalle", url: medicamentos_agregar_medicamento_detalle_path( window_id: "modal-window-agregar-medicamento-detalle", medicamento_id: params[:medicamento_id]) )%>
            
          <thead>
              
            <tr role="row">
              
              <th>Observación</th>
              
            </tr>
            
          </thead>
       
          <tbody id="celo-detalle-lista">

            <% if @medicamento_detalle.present? %>
            
              <% @medicamento_detalle.each do |cd|%>

                <tr>
                  <td><%= cd.observacion %></td>
                </tr>

              <% end %>

            <% else %>

              <tr><td colspan=3>No se han encontrado datos.</td></tr>

            <% end %>
                
          </tbody>
              
        </table>
        
      </div>
      
    </div>
    
  </div>

</td>


  <script type="text/javascript">

    function eliminar_registro(id) {

        swal({
          title: "Confirmar",
          text: "Al confirmar el medicamento estará sujeto a cambios como la cantidad de stock disponible.",
          type: "warning",
          showCancelButton: true,
          confirmButtonClass: "btn-confirm",
          confirmButtonText: "Confirmar",
          cancelButtonText: "Cancelar",
          closeOnConfirm: true,
          closeOnCancel: true
        },
        function(isConfirm) {
          if (isConfirm) {

              $.ajax({
                url: "<%= url_for(medicamentos_eliminar_medicamento_detalle_path) %>", 
                data: {tutor_detalle_id: tutor_detalle_id},
                dataType: 'script'
              });
            
          } else{

            return false;

          }

        });

    
    }

  </script>