<td colspan="12">
  
	</head>
	<div>

		<div class="container">
			<div class="row">
				<div id="map"></div>
			</div>
		</div>
		
		<div id="footer" class="container">
			<div class="row">
				<p>Polygons Google Maps API extension, &copy; RokeSoftware</p>
			</div>
		</div>

	</div>

   

</td>

<script type="text/javascript">

  			alert("debug")
			$(function() {
				new roke.polygons.Map(document.getElementById("map"), {
					zoom: 10,
					center: new google.maps.LatLng(50.0933, 14.4167),
					mapTypeId: google.maps.MapTypeId.ROADMAP
				});
			});

</script>