<% if @potrero_ok.present? %>

   $("<div class='col-sm-12' id='msg-editar-potrero' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Actualizado Exitosamente.</div>").insertBefore("#form-editar-potrero");
   
  $("#form_buscar_potrero_id").val('<%= @potrero.id %>');
  $("#form_buscar_potrero_descripcion").val('');
  $("#form_buscar_potrero_hectareas").val('');
  
  setTimeout(function(){ 

    $("#<%= params[:window_id]%>").modal('hide'); 
    $("#form-buscar-potrero").submit();
    swal("Potrero actualizado Exitosamente.");

  }, 3000);

<% else %>

  $("<div class='col-sm-12' id='msg-editar-potrero' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= @msg %></div>").insertBefore("#form-editar-potrero");
   swal('Error al Actualizar el Potrero. Intente más tarde.');

<% end %>
