<% if @trabajo_ok.present? %>

   $("<div class='col-sm-12' id='msg-editar-trabajo' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Actualizado Exitosamente.</div>").insertBefore("#form-editar-trabajo");

  $("#form_buscar_trabajos_id").val('<%= @estado_ganado.id %>');
  $("#form_buscar_trabajos_descripcion").val('');

  setTimeout(function(){

    $("#<%= params[:window_id]%>").modal('hide');
    $("#form-buscar-trabajos").submit();

    swal("El Trabajo ha sido actualizado Exitosamente.");

  }, 2000);

<% else %>

  $("<div class='col-sm-12' id='msg-editar-trabajo' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg) %></div>").insertBefore("#form-editar-trabajo");

<% end %>
