<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-raza' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-razas");
   $("#form_buscar_razas_id").val("<%=@raza_elim.id%>")
   $("#form-buscar-razas").submit();
    setTimeout(function(){ 
      
      $("#msg-eliminar-raza").remove();
      swal("La Raza ha sido eliminado Exitosamente.");

    }, 1000);
      
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-raza' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-razas");
  setTimeout(function(){ $("#msg-eliminar-raza").remove(); }, 1000);
  	
    swal("no se pudo Eliminar la raza. Intente más tarde.")
    
<% end %>
