<% if @eliminado %>

   	$("<div class='col-sm-12' id='msg-eliminar-personal' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-personal");
   	$("#form_buscar_personales_id").val('<%= @personal_elim.id %>');
    $("#form-buscar-personales").submit();

    setTimeout(function(){ 
    
    	$("#msg-eliminar-personal").remove(); 
    
    }, 1500);

    swal("Eliminado Exitosamente.")
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-personal' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-personal");
  
  	setTimeout(function(){ 
  		
  		$("#msg-eliminar-personal").remove(); }, 1500);
  		swal("Personales","No se pudo eliminar el Personal. Intente más tarde.", "success");

<% end %>
