<% if @actualizado %>
   
  $("#form_buscar_ganado_salida_id").val('<%= @ganado_salida.id %>');
  $("#form_buscar_ganado_salida_codigo_lote").val('');
  
 
  
  setTimeout(function(){ 
    
    $("#<%= params[:window_id]%>").modal('hide');
    $("#form-buscar-ganado-salida").submit();
    swal("Salida de Ganados Finalizado Exitosamente.")
    
}, 1000);


<% else %>
  
  $("<div class='col-sm-12' id='msg-agregar-ganado-salida' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= @msg %></div>").insertBefore("#form-agregar-ganado-salida");
  
  setTimeout(function(){ 
    
    swal("Error al Finalizar la Salida de Ganados. Intente más tarde. <%=@msg%>");
    
  }, 1000);


<% end %>