<% if @notificacion_usuario_ok.present? %>

   $("<div class='col-sm-12' id='msg-editar-notificacion-usuario' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Actualizado Exitosamente.</div>").insertBefore("#form-editar-notificacion-usuario");
   
  $("#form_buscar_notificaciones_usuarios_id").val('<%= @notificacion_usuario.id %>');
  $("#form_buscar_notificaciones_usuarios_descripcion").val('');
  $("#form_buscar_notificaciones_usuarios_nombre_persona").val('');
  $("#form_buscar_notificaciones_usuarios_apellido_persona").val('');
  $("#form_buscar_notificaciones_usuarios_email").val('');
  
  setTimeout(function(){

  	swal("Actualizado Exitosamente.")
  	$("#<%= params[:window_id]%>").modal('hide'); 
  	$("#form-buscar-notificaciones-usuarios").submit(); 

  }, 1500);

<% else %>

  $("<div class='col-sm-12' id='msg-editar-notificacion-usuario' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'>Error al modificar la Notificación de Usuario. Intente más tarde.</div>").insertBefore("#form-editar-notificacion-usuario");

<% end %>
