<% if @orden_trabajo_ok.present? %>

   $("<div class='col-sm-12' id='msg-editar-orden-trabajo' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Actualizado Exitosamente.</div>").insertBefore("#form-editar-orden-trabajo");

  $("#form_buscar_ordenes_trabajos_id").val('<%= @orden_trabajo.id %>');
  $("#form_buscar_ordenes_trabajos_descripcion").val('');
  $("#form_buscar_ordenes_trabajos_observacion").val('');

  setTimeout(function(){

    $("#<%= params[:window_id]%>").modal('hide');
    $("#form-buscar-ordenes-trabajos").submit();
    swal("La Orden de Trabajo ha sido actualizada Exitosamente.");

  }, 2000);

<% else %>

  $("<div class='col-sm-12' id='msg-editar-orden-trabajo' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= @msg %></div>").insertBefore("#form-editar-orden-trabajo");

<% end %>
