<header class="container-fluid">

  <div class="cabecera row hidden-xs">

    <div  style="text-align:center;" >
      <%= image_tag("ganatec_index.png", style: "width:150px;")%> <!--algun logo central aqui-->
    </div>

  </div>

  <%= render :partial => "layouts/menu" %>

</header>
