<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-estado-ganado' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-estados-ganados");
   $("#form_buscar_estados_ganados_id").val("<%=@estado_ganado_elim.id%>")
   $("#form-buscar-estados_ganados").submit();
    setTimeout(function(){

      $("#msg-eliminar-estados-ganados").remove();
      swal("El estado ganado ha sido eliminado Exitosamente.");

    }, 1000);

<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-estado-ganado' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-estados-ganados");
  setTimeout(function(){ $("#msg-eliminar-estado-ganado").remove(); }, 1000);

    swal("no se pudo Eliminar el estado ganado. Intente más tarde.")

<% end %>
